


<mat-card>
  <mat-card-title>مستخدم جديد</mat-card-title>
  <!--<mat-card-subtitle>Start</mat-card-subtitle>-->
  <mat-card-actions>
   
    <div>
      <div class="bd-example-snippet bd-code-snippet"><div class="bd-example">
      <div class="row  row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"> إضافة مستعمل</h4>
              <form class="row g-3">
                <div class="col-auto">
                  <label for="staticEmail2" class="visually-hidden">Email</label>
                
                </div>
                <div class="col-auto">
                  <label for="inputPassword2" class="visually-hidden">Password</label>
                  <input type="text" class="form-control" id="inputPassword2" placeholder="إسم المستعمل">
                 
                </div>
                <div class="col-auto">
                  <label for="inputPassword2" class="visually-hidden">Password</label>
                  <input type="password" class="form-control" id="inputPassword2" placeholder="كلمة السر">
                 
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary mb-3">تسجيل <i class="bi bi-person-plus"></i></button>
                </div>
              </form>
              
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">قائمة المستعملين </h4>
              <table class="table table-striped">
              
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">الإسم</th>
                      <th scope="col">كلمة السر</th>
                     
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                     
                    </tr>
                    
                  </tbody>
               
              </table>
            </div>
          </div>
        </div>
      </div>
      </div></div>

    </div>
  <!--  <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>-->
  </mat-card-actions>
</mat-card>  




