<div class="row">
  <div >  
    <div class="bd-example">
     <div class="alert alert-primary" role="alert">
  <mat-card>
    <mat-card-title><div class="shadow pb-3 mb-4 bg-body rounded">الجوازات الخاصة المسلمة </div></mat-card-title>
    <mat-card-actions>
      <div class="mb-3 col-md-6">
        <div class="col-sm-10">
          <input (ngModelChange)="searchPersons(key.value)"  #key="ngModel" 
          ngModel name="key" class="form-control" placeholder="بحث">
        </div>
      </div>
      <div class="bd-example">
        <table  class=" table table-hover">
          <thead>
          <tr>
            <th scope="col">ب ت و </th>
            <th scope="col">الإسم</th>
            <th scope="col">القب</th>
            <th scope="col">الصفة</th>
            <th scope="col">الإدارة </th>
            <th scope="col"> </th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
                            
          <tr class="table-light" *ngFor="let personne of personnes  |
                                         paginate: { itemsPerPage: 5,
                                         currentPage: page,
                                         totalItems: totalLength
                                        }" 
                                         >

              <td scope="row">{{personne.cin}}</td>
              <td>{{personne.nom}}</td>
              <td> {{personne.prenom}}</td>
              <td>{{personne.fonction}}</td>
              <td>{{personne.direction}}</td>
              <td><button type="button" (click) ="deletePersonne(personne.cin)" class="btn btn-sm btn-light"><i class="bi bi-trash"></i></button></td>
              <td><button type="button" class="btn btn-sm btn-light" (click)="openMissionDialog(personne.cin)"><i class="bi bi-pencil-square "></i></button></td>
              <td><button type="button" class="btn btn-sm btn-light" (click)="personDetails(personne.cin)"><i class="bi bi-filter-square"></i></button></td>
          </tr>
          </tbody>
        </table>
        </div>
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    <!--  <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>-->
    </mat-card-actions>
  </mat-card>  

  </div>
    </div>
    
  

